.mapContainer {
    position: relative;
  }
  
  .mapImg {
    /* Your main map image styling */
  }
  
  .secretRoomImg {
    position: absolute;
    top: 0;
    left: 0;
    /* Additional styling */
  }
  
  .toggleButton {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px;
    margin: 15px 0px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: background-color 0.2s ease;
    font-weight: bold;
  }

  .buttonText {
    padding: 5px;
    display: inline-block;
  }

  .toggleButton img {
    width: 25px;
    height: 25px;
    display: inline-block
  }
  
  /* Active State */
  .toggleButton.active {
    background-color: #007bff;
    color: white;
  }
  
  /* Hover State */
  .toggleButton:hover {
    background-color: #0056b3;
    color: white;
  }