.container {
  position: relative;
  margin: 25px 0px;
}

.viewport {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.layers {
  position: relative;
  transform-origin: center center;
  /*will-change: transform;*/
}

.mapImg {
  display: inline-block;
  position: absolute;
  width: 100%;
  transform-origin: center center;
}

.pins {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  transform-origin: center center;
}

.pin {
  position: absolute;
  box-sizing: content-box;
  transform: translate(-50%, -150%);
  border-radius: 50%;
  border: 4px solid yellow;
  width: 4px;
  height: 4px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -15px;
  left: -3px;
  border: 5px solid transparent;
  border-top: 9px solid yellow;
}

.buttons {
  position: absolute;
  right: 0;
  z-index: 10;
}

.zoomButton {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  color: white;
  background-color: green;
}
