/* StatsBar.module.css */
.statsWrapper {
    margin: 0px 0;
  }

.statsContainer h3 {
  font-weight: bold;
}
.statsLabel {
  font-size: .75em;
}
  
.barContainer {
  width: 100%;
  height: 10px;
  background-color: #333;
}

.bar {
  background-color: rgb(50, 92, 245);
  height: 100%;
  position: relative;
}
 
.indicator {
  font-size: .75em;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: white;
}
  