.weaponContainer {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
  }
  
  .imageContainer {
    width: 70%;
  }

  .aside {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .weaponImage {
    max-width: 100%;
    height: auto;
  }
  
  .infoContainer .label {
    font-weight: bold;
  }
  
  .infoContainer p {
    font-size: .85rem;
  }

  /* Mobile view */
@media screen and (max-width: 768px) {
  .weaponContainer {
    flex-direction: column; /* switch to column layout */
    align-items: center;
  }

  .imageContainer {
    width: 100%;
  }
  .aside {
    width: 100%;
    padding: 20px 0px;
  }
}